*{
    box-sizing: border-box;
}
#specials{
    
}
.specials-header{
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
.specials-header h2{
    font-size: 40px;
    font-weight: 500;
}
#container{
    max-width: 1000px;
    margin: auto;
    background-color: #000;
   
}


.btn{
    
    border: 0;
    padding: 10px 10px;
    background-color: #F4CE14;
    color: #000;
    border-radius: 16px;
    font-weight: 500;
    letter-spacing: 0.6px;
    font-size: 16px;
    min-width: 100px;

}
.special-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
}
.card{
    background-color: #eeeeee;
    width: 30%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

}
.card:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card-content{
    padding: 15px;
}
.card-content__title-price{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.card-image img{
    width: 100%;
   
}
.card-content__title{
    font-size: 18px;
    font-weight: bold;
}
.card-content__price{
    color: #EE9972;
}
p{
    font-size: 16px;
    letter-spacing: 0.5px;
}
.card-content__description{
    /* text-align: justify; */
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.card-content__btn{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: left;
    background-color:transparent;
    padding: 5px 0;
    color: #495E57;
    border: 0;
    font-weight: 600;
    font-size: 16px;
}

.card-content__btn:hover{
    color: #000;
}
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1050px){
    
}

@media screen and (max-width: 992px){
    .special-container{
        
    }
}
@media screen and (max-width: 768px){
    .card-content__description{
        padding-right: 1rem;
    }
    .card-content__title-price{
        padding-right: 1rem;
    }
    .special-container{
        flex-direction: column;
        align-items: none;
        justify-content: none;
        margin: 0;
    }
    .card{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        border-radius: 0;
        background-color: #fff;
        border-bottom: 1px solid #333;
    
    }
    .card-content{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .card-image{
        width: 30%;
        
    }
    .card-image img{
        object-fit: contain;
    }
    .card-content__btn{
        max-width: 160px;
        cursor: pointer;
    }
    .card:hover {
        box-shadow:none;
    }
}
@media screen and (max-width:550px){
    .btn{
        min-width: 120px;
    }
    .specials-header h2{
        font-size: 35px;
        font-weight: 500;
    }
}