 .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EDEFEE;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5rem;
    
 }
 .footer ul {

 }
 .footer ul li{
    list-style-type: none;
    padding: 5px 0;
 }
 .footer a{
    text-decoration: none;
    color: #333;
 }
 .footer a:hover{
    color: #000;
 }

 /* Footer logos */
 .footer-logos{

 }
 .footer-logos img{
    width: 120px;
 }
 .logo-vertical{
    display: block;
   }
   .logo-horizontal{
    display: none;
   }
 /* Footer nav  */
 .footer-nav{

 }
.footer-nav ul{

}
.footer-nav ul li{

}
/* Footer contact */



@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1050px){
   
}

@media screen and (max-width: 992px){
    
}
@media screen and (max-width: 768px){
    .footer{
      margin-top: 2rem;
    }
    
}
@media screen and (max-width:550px){
   .footer{
        flex-direction: column;
        align-items: center;
        text-align: center;
   }
   .logo-vertical{
    display: none;
   }
   .logo-horizontal{
    display: block;
   }

   .footer-social ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
   }
}