:root{
  --color-bg: #495E57;
  --color-text: #F4CE14;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.padding_section{
  padding: 1rem 8rem;
}
@media screen and (max-width:1200) {
  .padding_section{
    padding: 2rem 6rem;
  }
}
@media screen and (max-width: 990px){
  .padding_section{
    padding: 1.5rem 2rem;
  }
}

@media screen and (max-width: 768px){
  .padding_section{
    padding: 1rem;
  }
}
@media screen and (max-width:550px){
  .padding_section{
    padding: 0.5rem;
  }
}

