@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,500;1,500&display=swap');
:root{
    --color-bg: #495E57;
    --color-text: #F4CE14;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

#root{
  max-width: 1400px;
  margin: auto;
}
a{
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}

.btn-link{
  border: 0;
  border-radius: 16px;
  background-color: #F4CE14;
}
.btn-link a{
  display: block;
  padding: 10px 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.padding-sides{
    padding: 0 7rem;
}

  @media screen and (max-width:1200px) {
    .padding-sides{
      padding-left:  5rem;
      padding-right: 5rem;
    }
  }
  @media screen and (max-width: 1024px){
    .padding-sides{
      padding-left:  4rem;
      padding-right: 4rem;
    }
  }
  @media screen and (max-width: 991px){
    .padding-sides{
      padding-left:  2rem;
      padding-right: 2rem;
    }
  }
  @media screen and (max-width: 850px){
    .padding-sides{
      padding-left:  1rem;
      padding-right: 1rem;
    }
  }
  @media screen and (max-width: 768px){
    .padding-sides{
      padding-left:  1rem;
      padding-right: 1rem;
    }
  }
  @media screen and (max-width:550px){
    .padding-sides{
      padding-left:  0.5rem;
      padding-right: 0.5rem;
    }
  }
  